# LIST AND LIST EXAMPLES

In [30]:
li = [1,2,3,4,5]
print(len(li)) # Len() which will return the length of the list

5

In [31]:
li[2] = 1954 # Update the list item value
print(li)

[1, 2, 1954, 4, 5]

In [32]:
del li[3] # Delete the specific index value
# del li - delete the entire list

In [33]:
print(li)

[1, 2, 1954, 5]

In [34]:
li[4] = 1920

IndexError: list assignment index out of range

In [35]:
print(li[-1])# To access the last item of the list
print(li[3:4])
print(li[1:4])
print(li[-1:3])
print(li[-2:3])

5
[5]
[2, 1954, 5]
[]
[1954]

In [36]:
# Methods of list
print(sum(li)) 
print(max(li)) #maximum value of the list 
print(min(li)) #minimum value of the list
print(sum(li)//len(li)) #avg 
# Find output as alternate numbers avg

1962
1954
1
490

In [37]:
li1 = [1,2,3,4,5]
print(li1[-4:-1])

[2, 3, 4]

In [38]:
li

[1, 2, 1954, 5]

In [39]:
# List methods 
li.append(100) # append will insert the new item at the end in the list
li

[1, 2, 1954, 5, 100]

In [40]:
li.insert(3,59) # used to insert the value in the middle of the list depending on the given value
li# INSERTS THE NEW ITEM AT ANY SPECIFIED POSITION

[1, 2, 1954, 59, 5, 100]

In [41]:
li.count(100) # Gives the count of list item how many times it is repeated

1

In [42]:
print('index' ,end = '') # index() gives the index of specified value
li.index(59)

index

3

In [27]:
li2=[1,2,8,20]
li2.sort()
print(li2)# sorts the entire(ascending order)
li2.pop()
print(li2)# removes the item of last index
li2.pop(2) # pop(index) removes the item on specified index
print(li2)

[1, 2, 8, 20]
[1, 2, 8]
[1, 2]

In [51]:
li = [1,5,6,8] 
li.sort()# sorts the entire(ascending order)
li.pop()# removes the item of last index
li.pop(0) # pop(index) removes the item on specified index

1

In [60]:
# define the second largest number in the list
# li[1,69,16,25,2,3,65]
# output = 25
def secondLarge(li):
    li.sort()
    return li[-2]
li=[1,69,16,25,2,3,65]
secondLarge(li)

65

In [64]:
def genericleast(li,n):
    li.sort()
    return li[n]
genericleast(li,3)

16

In [63]:
def genericlarge(li,n):
    li.sort()
    return li[-n]
genericlarge(li,3)

25

# NUMBER TO LIST CONVERSION

In [67]:
# 1234567-[1,2,3,4,5,6,7]
def numberToList(n):
    li = [] #empty list
    while n != 0:
        r = n % 10
        li.append(r)
        n = n // 10
    li.reverse()
    return li
numberToList(1234567)

[1, 2, 3, 4, 5, 6, 7]

# DATA STRUCTURES - TUPLES
- IT IS SIMILAR TO LIST OBJECT
- LIST WILL BE ENCLOSED IN SQUARE BRACKETS[] AND TUPLES WILL BE ENCLOSED IN PARAENTHSIS()
- LIST CAN BE INCREASED / DECREASED AND TUPLE IS FIXED SO THAT YOU CANT INCREASE OR DECREASE THE TUPLE
- IT MEANS LIST IS MUTABLE AND TUPLE IS IMMUTABLE
  - used for only reading

In [68]:
t1 = (1,2,3,4,5)
t1

(1, 2, 3, 4, 5)

In [70]:
t1[0:4]

(1, 2, 3, 4)

In [74]:
t1[2]

3

In [75]:
t1[11]

IndexError: tuple index out of range

In [12]:
t1 = (1,2,3,4,5,6)
print(len(t1))
print(max(t1))
print(min(t1))
print(sum(t1))

6
6
1
21

# DATA STRUCTURES- DICTIONARIES
- THIS DATA STRUCTURE OBJECT WORK ON SET OF KEYS AND VALUES
- UNIQUE KEY SETS WILL BE DEFINED
- EVERY KEY IS SEPERATED FROM ITS VALUE BY COLON(:)
- EVERY KEY AND VALUE WILL BE SEPERATED BY COMA(,)
- THIS WILL BE ENCLOSED BY CURLY BRACKETS{}

In [2]:
d1 = {"name":"lahari","email":"lahariuppula.9@gmail.com","phonenumber":"7981183655"}
print(d1)

{'name': 'lahari', 'email': 'lahariuppula.9@gmail.com', 'phonenumber': '7981183655'}

In [4]:
print(d1["email"]) #to access the specify key value
print(d1["phonenumber"])
print(d1["name"])

lahariuppula.9@gmail.com
7981183655
lahari

In [6]:
del d1["phonenumber"] #delete the specific key

In [7]:
print(d1)

{'name': 'lahari', 'email': 'lahariuppula.9@gmail.com'}

# MOBILE APPLICATION
- USED CONTACTS : DICTIONARIES,LIST,TUPLE
# MODULES OF CONTACT APPLICATION
- ADD CONTACTS
- SEARCH CONTACT
- IMPORT THE NEW CONTACTS
- UPDATE THE CONTACT DETAILS
- DELETE THE CONTACT DETAILS

In [2]:
contacts = {} # empty dict object
# define the function for add contacts
def addContacts(name,phone):
    if name not in contacts:
        contacts[name] = phone
        print("Contact added")
    else:
        print("Contact is not added")
    return
addContacts('vinitha',1234567) # Contact added
addContacts('niharika',3456789) # Contact added
addContacts('niharika',4567890) # Contact is not added

Contact added
Contact added
Contact is not added

In [3]:
# define the function for search contact
def searchContact(name):
    if name in contacts:
        print(name , " : " , contacts[name])
    else:
        print('contact is not present')
    return
searchContact('niharika') #niharika : 3456789
searchContact('vinitha') #vinitha: 1234567
searchContact('lahari') #contact is not present

niharika  :  3456789
vinitha  :  1234567
contact is not present

In [4]:
contacts

{'vinitha': 1234567, 'niharika': 3456789}

In [5]:
# define the function for import the new contacts
def importContacts(newContacts):
    contacts.update(newContacts)
    print('New Contacts are added')
    return
newContacts={"lahari":7981183655,"dad":9908314805}
importContacts(newContacts)

New Contacts are added

In [6]:
# define a function for update details
def updateDetails(name,phone):
    if name in contacts:
        contacts[name] = phone
        print('contact update is successful')
    else:
        print('please add new contact details')
    return
updateDetails('dad',9908314805) #update is successful
updateDetails('momma',9550486514) #please add a contact

contact update is successful
please add new contact details

In [8]:
# define function to delete the contact details
def deleteContact(name):
    if name in contacts:
        del contacts[name]
        print('contact is deleted')
    else:
        print('contact is not present')
    return
deleteContact('vinitha')#contact is deleted
deleteContact('ammu')#contact is not present

contact is deleted
contact is not present

In [9]:
contacts

{'niharika': 3456789, 'lahari': 7981183655, 'dad': 9908314805}

# STRING TO LIST CONVERSION
- "1 2 3 4 5 6"-[1,2,3,4,5,6]

In [2]:
a = input('enter the numbers')
print(type(a))
print(a)

enter the numbers1 2 3 4 5 6
<class 'str'>
1 2 3 4 5 6

In [3]:
s = "application test working"
print(s)

application test working

In [4]:
s = "application test working"
li = s.split()
print(li)

['application', 'test', 'working']

In [6]:
s1 = "gitam hyderabad python programming"
li1 = s1.split('a')
print(li1)

['git', 'm hyder', 'b', 'd python progr', 'mming']

In [8]:
# define a function to convert the string to list
def stringToList(s):
    li = s.split() #divide the string by white space 
    #['1','2'..]
    numberList = []
    for i in li:
        numberList.append(int(i))
    return numberList
stringToList('1 2 3 4 5 6')

[1, 2, 3, 4, 5, 6]